body {
    font-family: 'Emulogic';
    color: white;
}

canvas { 
    background-color: black;
}

#wrapper {
    /*text-align: center;
    margin-top: 7%;*/
    position: absolute;
    left: calc(50% - 300px);
    top: calc(50% - 300px);
}

#menu_wrapper {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
}

#next_level {
    background-color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    visibility: hidden;
}